.container {
  position: relative;
  padding-bottom: 50px;
}

.btnContainer {
  text-align: center;
  margin-top: -50px;
}

.btnImg {
  width: 200px;
  cursor: pointer;
  margin: 20px;
}

.selected {
}

.formIframe {
  width: 100%;
  border: none;
}

@media only screen and (max-width: 1023px) {
  .btnContainer {
    margin-top: -20px;
  }

  .btnImg {
    width: 140px;
    margin: 10px;
  }
}
