.container {
  position: relative;
  padding-bottom: 50px;
}

.bottleBtnContainer {
  text-align: center;
  margin-top: -9vw;
}

@media only screen and (max-width: 425px) {
  .bottleBtnContainer {
    margin-top: 0;
  }
}
