.container {
  position: relative;
  padding-bottom: 50px;
  text-align: center;
}

.btnContainer {
  text-align: center;
  margin-top: -50px;
}

.btnImg {
  width: 200px;
  cursor: pointer;
  margin: 20px;
}

.selected {
}

.formIframe {
  width: 100%;
  border: none;
}

.loading {
  font-size: 1.5em;
}

.spinner {
  animation: spin infinite 1s linear;
  width: 50px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1023px) {
  .btnContainer {
    margin-top: -20px;
  }

  .btnImg {
    width: 140px;
    margin: 10px;
  }

  .spinner {
    width: 30px;
  }

  .loading {
    font-size: 1.3em;
  }
}
