.bottleBtn {
  margin: 50px;
  display: inline-block;
  cursor: pointer;
  height: 260px;
}

.bottleImgUp {
  height: 520px;
  transition: transform 0.5s ease;
}

.bottleImgDown {
  height: 520px;
  transition: transform 0.5s ease;
}

.downLeft {
  transform: rotate(-90deg);
}

.downRight {
  transform: rotate(90deg);
}
