.bottleBtn {
  margin: 50px;
  display: inline-block;
  cursor: pointer;
  height: 260px;
}

.bottleImgUp {
  transition: transform 0.5s ease;
}

.bottleImgDown {
  transition: transform 0.5s ease;
}

.downLeft {
  transform: rotate(-90deg);
  transform-origin: bottom left;
}

.downRight {
  transform: rotate(90deg);
  transform-origin: bottom right;
}
