.form {
  font-size: 1.6vw;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 3vw;
}

.required {
  font-size: 1.2vw;
  color: #ba084b;
  text-align: end;
}

.formDescription {
  text-align: center;
}

.formLabel {
  color: dimgrey;
  margin-top: 2vw;
  margin-bottom: 0.5vw;
  font-size: 1.4vw;
}

.form input,
.form textarea {
  width: 100%;
  padding: 0.8vw;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 1.6vw;
}

.form textarea {
  height: 6vw;
  resize: none;
}

.form input:focus,
.form textarea:focus {
  border: 1px solid grey;
}

.form input[type="submit"],
.formSubmit {
  cursor: pointer;
  color: dimgrey;
  font-size: 1.6vw;
  width: 12vw;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-align: center;
  margin-left: calc(50% - 6vw);
  margin-top: 2vw;
}

.formSubmit:hover {
  background: #f5f5f5;
}

@media only screen and (max-width: 425px) {
  .form {
    width: 90%;
    margin: 5%;
    font-size: 17px;
  }

  .formLabel,
  .form input,
  .form textarea,
  .formSubmit {
    font-size: 17px;
  }

  .formLabel {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .formSubmit {
    width: 120px;
    height: 30px;
    margin-left: calc(50% - 60px);
    margin-top: 20px;
  }
}
