.partners {
  text-align: center;
}

.partner-logo {
  cursor: pointer;
  width: 300px;
}

.partner-container {
  position: relative;
}

.partner-name {
  display: block;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 10px;
  width: 300px;
  font-size: 18px;
}
