.partners {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.partners h2 {
  flex: 1 0 100%;
  margin-bottom: 1em;
}

.partner-container {
  position: relative;
  padding: 4em 2em;
}

.partner-name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1em;
}

.partner-logo {
  cursor: pointer;
  height: 130px;
}

@media only screen and (max-width: 1023px) {
  .partners h2 {
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 700px) {
  .partners {
    display: initial;
  }
}
