.sm {
  position: relative;
  background: url("../images/sm-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 19vw;
  margin-left: 70%;
}

.sm-btn {
  height: 4.5vw;
  position: absolute;
  top: 9vw;
  right: 0;
  margin-right: 7vw;
  cursor: pointer;
}

.sm-btn:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 425px) {
  .sm {
    height: 180px;
    text-align: center;
    margin-top: -20px;
    margin-left: 0;
  }

  .sm-btn {
    position: relative;
    height: 50px;
    margin: 50px 10px 0px 10px !important;
  }
}
