.sm {
  font-size: 2em;
  position: relative;
  background: url("../images/sm-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 250px;
  /* margin-left: 70%; */
}

.sm-btn {
  height: 2em;
  position: absolute;
  top: 130px;
  right: 0;
  margin-right: 3em;
  cursor: pointer;
}

.sm-btn:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1023px) {
  .sm {
    font-size: 1.5em;
    height: 190px;
    /* text-align: center; */
    margin-top: -20px;
    margin-left: 0;
  }

  .sm-btn {
    /* position: relative; */
    /* height: 50px; */
    top: 100px;
    /* margin: 50px 10px 0px 10px !important; */
  }
}
